*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-style: normal;
    line-height: normal;
    font-family: Raleway, sans-serif;
}

button{
    background-color: unset;
    border: none;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.flex-wrapper{
    display: flex;
    flex-direction: column;
}

header, footer{
    width: 100%;
    height: 153px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
    height: 100vh;
    display: flex;
}

nav, aside{
    max-width: 288px;
    width: 100%;
    background-color: #ECE8E8;
}

.navigation{
    margin: 160px 0 0 70px;
}

.note{
    margin: 160px 45px 0 45px;
    color: #7B7B7B;
}

li{
    font-size: 16px;
    font-weight: 500;
    line-height: 50px;
    color: rgb(19, 64, 179);
}

article{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}

h1{
    font-size: 18px;
    line-height: 21px;
    color: rgb(40, 42, 48);
}

h2{
    font-size: 40px;
    line-height: 47px;
    color: rgb(40, 42, 48);
}

h2 .accent{
    color: rgb(19, 64, 179);
}

.form1{
    padding: 25px 18px 25px 18px;
    width: 795px;
    margin: 0 35px 0 35px;
}

.form2{
    padding: 25px 18px 25px 18px;
    width: 795px;
    margin: 0 35px 0 35px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input, select, fieldset, textarea{
    border: 1px solid rgb(0, 0, 0);
    padding: 3px 3px;
}

.checkbox{
    display: flex;
    flex-direction: column;
}

.send-btn{
    width: 238px;
    height: 60px;
    background-color: rgb(48, 101, 239);
    color: white;
}


small{
    color: white;
}